.highlight {
    background-color: #181818;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 10px 10px;
	margin:10px 0;
	color: #F8F8F8;
	font-family: Monaco,"Menlo","Courier New",monospace; 
}
.highlight *::selection { background: rgba(221, 240, 255, 0.20); }
.highlight *::-moz-selection { background: rgba(221, 240, 255, 0.20); }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #5F5A60; font-style: italic }
.highlight .err { border:#B22518; }
.highlight .k { color: #CDA869 }
.highlight .cm { color: #5F5A60; font-style: italic }
.highlight .cp { color: #5F5A60 }
.highlight .c1 { color: #5F5A60; font-style: italic }
.highlight .cs { color: #5F5A60; font-style: italic }
.highlight .gd { background: #420E09 }
.highlight .ge { font-style: italic }
.highlight .gr { background: #B22518 }
.highlight .gh { color: #000080; font-weight: bold }
.highlight .gi { background: #253B22 }
.highlight .go { }
.highlight .gp { font-weight: bold }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #800080; font-weight: bold }
.highlight .gt { }
.highlight .kc { }
.highlight .kd { color: #e9df8f; }
.highlight .kn { }
.highlight .kp { color: #9B703F }
.highlight .kr { }
.highlight .kt { }
.highlight .m { }
.highlight .s { }
.highlight .na { color: #F9EE98 }
.highlight .nb { color: #CDA869 }
.highlight .nc { color: #9B859D; font-weight: bold }
.highlight .no { color: #9B859D }
.highlight .nd { color: #7587A6 }
.highlight .ni { color: #CF6A4C; font-weight: bold }
.highlight .nf { color: #9B703F; font-weight: bold }
.highlight .nn { color: #9B859D; font-weight: bold }
.highlight .nt { color: #CDA869; font-weight: bold }
.highlight .nv { color: #7587A6 }
.highlight .ow { color: #AA22FF; font-weight: bold }
.highlight .w { color: #141414 }
.highlight .mf { color: #CF6A4C }
.highlight .mh { color: #CF6A4C }
.highlight .mi { color: #CF6A4C }
.highlight .mo { color: #CF6A4C }
.highlight .sb { color: #8F9D6A }
.highlight .sc { color: #8F9D6A }
.highlight .sd { color: #8F9D6A; font-style: italic; }
.highlight .s2 { color: #8F9D6A }
.highlight .se { color: #F9EE98; font-weight: bold; }
.highlight .sh { color: #8F9D6A }
.highlight .si { color: #DAEFA3; font-weight: bold; }
.highlight .sx { color: #8F9D6A }
.highlight .sr { color: #E9C062 }
.highlight .s1 { color: #8F9D6A }
.highlight .ss { color: #CF6A4C }
.highlight .bp { color: #00aaaa }
.highlight .vc { color: #7587A6 }
.highlight .vg { color: #7587A6 }
.highlight .vi { color: #7587A6 }
.highlight .il { color: #009999 }